
@{
    ViewData["Title"] = "订单提交成功";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <blockquote>
        <p>
            订单提交成功，请等待配送！ 订单号：@ViewData["OrderId"]
            <small>如需帮助，请拨打电话：18580760059</small>
        </p>

        <a asp-controller="Order" asp-action="Details" asp-route-id="@ViewData["OrderId"]">订单详情</a>
       
    </blockquote>
</div>
