@model OrderStatus

@switch (Model)
{
    case OrderStatus.Undelivered:
        <span>待发货</span>
        break;
    case OrderStatus.Delivered:
        <span>已发货</span>
        break;
    case OrderStatus.Cancel:
        <span>已取消</span>
        break;
}